@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Quicksand:400,500,700&display=swap');

:root {
    --font-primary: 'Lexend Deca', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;

    --light: #FFF;
    --dark: #2c2f33;

    --primary: #7289da;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
}

#header {
    width: 80%;
    margin: auto;
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0em;
}

.sticky {
    position: fixed;
    top: 0;
    left: 10%;
}

#header-img {
    width: 50px;
    height: auto;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--dark);

    padding-left: 2em;
    transition: ease;
    transition-duration: 0.3s;
}

.nav-link:hover {
    color: var(--primary);
}

#main {
    width: 80%;
    margin: auto;
}

.section {
    padding: 3em 0em;
    margin: 4em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero {
    margin-top: 22vh;
}

#hero-title {
    font-family: var(--font-primary);
    font-size: 2.5em;
    color: var(--primary);
}

#hero-tagline {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--dark);
}

#survey-form {
    margin: 3em 0em;
}

#email {
    background-color: var(--light);
    box-shadow: 0em 0em 1em rgb(0,0,0,0.2);
    border: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    font-family: var(--font-primary);
    font-size: 1em;
    color: var(--dark);
}

#submit {
    background-color: var(--light);
    border: none;
    border: 0.2em solid var(--primary);
    padding: 0.8em 1em;
    border-radius: 0.5em;
    font-family: var(--font-primary);
    font-size: 1em;
    color: var(--primary);
    cursor: pointer;

    transition: ease;
    transition-duration: 0.3s;
}

#submit:hover {
    background-color: var(--primary);
    color: var(--light);
}

.section-header {
    text-align: center;
}

.section-title {
    font-family: var(--font-primary);
    font-size: 3em;
    color: var(--primary);
}

@media screen and (min-width: 1200px) {
    .features-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.feature-title {
    font-family: var(--font-secondary);
    font-size: 1.5em;
    color: var(--dark);
}

.feature-description {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--dark);
}

.step-container {
    width: 60%;
    margin: auto;
}

.step-description {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.4em;
    color: var(--dark);
}

.vid {
    text-align: center;
    margin: 3em 0em;
}

@media screen and (min-width: 1500px) {
    .price-container {
        display: flex;
    }
}

.price-card {
    width: 15em;
    margin: 3em auto;
    background-color: var(--light);
    box-shadow: 0em 0em 1em rgba(0,0,0,0.2);
    border-radius: 1em;
    padding: 2em 3em;
    text-align: center;
}

.price-card-amount {
    font-family: var(--font-primary);
    font-size: 2em;
    color: var(--primary);
}

.price-info {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--dark);
}

#footer {
    text-align: center;
    padding-bottom: 4em;
}

#footer-text {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1em;
    color: var(--dark);
}