@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Montserrat:400,500,700&display=swap');

:root {
    --montserrat: 'Montserrat', sans-serif;
    --fira: 'Fira Sans', sans-serif;

    --light: #FFF;
    --dark: #000;
    
    --dark-panel: #212121;

    --continue: #28a745;
    --continue-hover: #2ce857;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: vaR(--dark);
}

#wrapper {
    width: 60%;
    margin: auto;
}

#header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-family: var(--montserrat);
    font-size: 3em;
    color: var(--light);
}

#description {
    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

.next-button {
    margin-top: 5em;
    text-align: center;
}

.next-btn {
    text-decoration: none;
    font-family: var(--montserrat);
    font-weight: 500;
    color: var(--light);

    background-color: var(--continue);
    padding: 0.5em 1em;
    border-radius: 4em;

    transition: ease;
    transition-duration: 0.3s;
}

.next-btn:hover {
    background-color: var(--continue-hover);
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question {
    font-family: var(--montserrat);
    font-size: 2em;
    font-weight: 500;
    color: var(--light);
    padding-right: 0.5em;
}

.text-input {
    background-color: var(--dark-panel);
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    width: 100%;

    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

#dropdown {
    background-color: var(--dark-panel);
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    width: 100%;

    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

.radio-btn {
    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

.check-btn {
    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

#thoughts {
    background-color: var(--dark-panel);
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    width: 100%;
    height: 20vmin;
    resize: unset;

    font-family: var(--fira);
    font-size: 1.2em;
    color: var(--light);
}

.submit-btn {
    text-decoration: none;
    font-family: var(--montserrat);
    font-size: 2em;
    font-weight: 500;
    color: var(--light);
    
    background-color: var(--continue);
    padding: 0.5em 1em;
    border: none;
    border-radius: 4em;

    transition: ease;
    transition-duration: 0.3s;

    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--continue-hover);
}