@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Montserrat:400,500,700&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Fira Sans', sans-serif;

    --light: #FFF;
    --dark: #000;
}

html, body {
    margin: 0;
    padding: 0;
}

#main-doc {
    display: flex;
}

#navbar {
    height: 100vh;
    width: 30%;    
    overflow-x: auto;
}

#nav-header {
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 700;
}

#nav-header-container {
    text-align: center;
    padding: 1em 0em;
    /* box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
    border-radius: 0em 0em 0.5em 0.5em; */
    margin: 2em 0.5em;
}

.nav-container {
    padding: 0.5em 1em;
    margin: 2em 0.5em;
    border-radius: 0.5em;
    /* box-shadow: 0em 0em 1em rgba(0,0,0,0.1); */
    transition: ease;
    transition-duration: 0.3s;
}

.nav-container:hover {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.1);
}

.nav-link {
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--dark);
}

#content {
    height: 100vh;
    width: 75%;
    padding: 0em 2em;
    overflow-y: auto;
}

.section-title {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: 700;
    color: var(--dark);
    margin-top: 1em;
}

.section-text {
    font-family: var(--font-secondary);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7em;
}

.code-container {
    background-color: #efefef;
    border-radius: 0.5em;
    padding: 1em 2em;
}

.code-text {
    font-family: monospace;
    font-size: 1.2em;
    color: var(--dark);
}