@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap');

:root {
    --font-heading: 'Montserrat', sans-serif;
    --font-text: 'Fira Sans', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
}

#header {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 4em;
}

#title {
    font-family: var(--font-heading);
    font-size: 4em;
}

#sub-title {
    font-family: var(--font-heading);
    font-size: 2em;
}

#image {
    display: block;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

#img-caption {
    font-family: var(--font-text);
    font-size: 1.5em;
}

#main {
    width: 60%;
    margin: auto;
    text-align: justify;
}

.heading {
    font-family: var(--font-heading);
    font-size: 2em;
    font-weight: bold;
}

.text {
    font-family: var(--font-text);
    font-size: 1.2em;
    line-height: 1.5em;
}

.highlight {
    font-family: var(--font-text);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5em;
}

.links {
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: 1.2em;
    color: rgba(0,0,0,1);
}

.links:hover {
    color: rgba(0,0,0,0.5);
}

#tribute-link {
    color: rgba(0,0,0,1);
}

#tribute-link:hover {
    color: rgba(0,0,0,0.5);
}

#footer {
    margin-top: 4em;
    padding: 2em;
    text-align: center;
}

.f-text {
    font-family: var(--font-text);
    font-size: 1em;
}